h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: hsla(209, 94%, 41%, 0.5);
    width: 800px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25%;
    left: 25%;
}
body {
    background-color: hsla(240, 25%, 42%, 0.5);
    background-image: url(../img/salmon.jpeg);
    background-repeat: no-repeat;

}
h2 {
    font-family: 'Dokdo', cursive;
    font-size: 25px;
    font-weight: bold;

}
ul {
    font-family: 'Indie Flower', cursive;
    margin: 2px;
}
li {
    margin: 2px;
}
th {
    font-weight: bold;
    border: 2px solid black;
    padding: 5px;
}
tr{
    border: 2px solid black;
    padding: 5px;
}
td{
    border: 2px solid black;
    padding: 5px;
}