html {
    background-image: url("../img/skyline_background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
nav {
    margin-top: 2em;
    border: .5em solid black;
    border-radius: .1em;
    background-color:hsla(108, 0%, 69%, 0.5);
    
}



